html {
  font-family:verdana;
  color:white;
  background-color:#15202b;
}
body {
  font-family:verdana;
  color:white;
  background-color:#15202b;
  margin-left:10%;
  margin-right:10%;
}
#link:hover {
  background-color: darkgrey;
  font-size: 18px;
}
